{% extends 'base.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>HOME</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
	
	<body>
		<div class = "col">
			<div class="row">
				<h1 class="add-title">{{page_title}}</h1>
			</div>
				<div class="row">
					<div class="col-md-8" style="height: 560px">
						<form class="needs-validation" novalidate id="formulir" method='POST'>
							{% csrf_token%}
							{% for form in sched_form %}
							<div class="form-group">
								{{form.label}}
								{{form}}
								<div class="valid-feedback">
									Looks good!
								</div>
								<div class="invalid-feedback">
									This field is required.
								</div>
							</div>
							{% endfor %}
							<button class='btn btn-primary' type="Submit">Add Event</button>
						</form>
						<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
					</div>
				</div>
		</div>
	</body>
</html>

{% endblock %}
 
 