{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<title>MY SCHEDULE</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
	
	<body>
		<div>
			<h1 class="ev-title"><strong>My Events</strong></h1>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" id="head">#</th>
						<th scope="col" id="head">Event</th>
						<th scope="col" id="head">Date</th>
						<th scope="col" id="head">Place</th>
						<th scope="col" id="head">Category</th>
						<th scope="col" id="head">Note</th>
						<th scope="col" id="head">Delete</th>
					</tr>
				</thead>
  
				<tbody>
					{% for post in posts%}
					<tr class = "success">
						<th scope="row" id="head">{{forloop.counter}}</th>
						<td>{{post.name}}</td>
						<td>{{post.date}}</td>
						<td>{{post.place}}</td>
						<td>{{post.category}}</td>
						<td>{{post.notes}}</td>
						<td><a class="btn btn-light" href="{% url 'myproject:delete' post.id %}" title="">&#128465</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class = "tombol">
			<a class="btn btn-primary" href="{% url 'myproject:event' %}" role="button">Add New Event</a>
		</div>
	</body>
</html>
{% endblock %}